<h2 class="page-header">
	Manage of Types
	<a href="#!/types/add" class="btn btn-primary pull-right">Create New</a>
</h2>
<div class="table-responsive">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>Type Name</th>
	      <th>Created At</th>
	      <th>Updated At</th>
	      <th>Actions</th>
	    </tr>
	  </thead>
	  <tbody>
		<tr ng-repeat="type in types">
			<td>{{$index + 1}}</td>
			<td>{{type.name}}</td>
			<td>{{type.created_at}}</td>
			<td>{{type.updated_at}}</td>
			<td>
				<a href="#!/types/edit/{{type.id}}" title="Edit Type" class="text-warning"><span class="fa fa-edit"></span></a>
				|
				<a ng-click="delete(type.id)" style="cursor: pointer;" class="text-danger" title="Delete Type"><span class="fa fa-trash"></span></a>
			</td>			
		</tr>
	  </tbody>
	</table>
</div>